section.home p span.name { border-bottom: 1px solid #fff; }

html, body {
    height:100%;
    background: url('../img/bg-web.jpg') no-repeat ;
    background-position: 50%;
    background-size: 100% auto;
}

.container {
  background: transparent;
  margin: 0 auto;
}

section.home {
    padding-top:75px;
}

section.home a {
  color: #fff;
  transition: color .15s;
}

.content p, .content  h1 {
  background:rgba(0,0,0,0.5);
}

section.home a:hover {
  color: #d0d0d0;
  text-decoration: none;
}

section.home .avatar {
  background-clip: content-box;
  border: 9px solid rgba(31, 49, 107, 0.5);
  border-radius: 50%;
  margin-bottom: 48px;
  transition: all .15s linear;
  width: 196px;
  margin-top:70px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.home .avatar:hover { border-width: 3px; }

.social-links{ margin-top: 60px; }

.online-rights{
  max-width:810px;
  margin:0 auto;
}
.online-rights a img{
    max-width: 400px;
}
