section.home p span.name { border-bottom: 1px solid #fff; }

html, body {
    height:100%;
}

.container {
  background: transparent;
  margin: 0 auto;
}

section.home {
  background: url('../img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height:100%;
  padding-top:100px;
}

section.home a {
  color: #fff;
  transition: color .15s;
}

.content p, .content  h1 {
  background:rgba(0,0,0,0.5);
}

section.home a:hover {
  color: #d0d0d0;
  text-decoration: none;
}

section.home .avatar {
  background-clip: content-box;
  border: 9px solid rgba(31, 49, 107, 0.5);
  border-radius: 50%;
  margin-bottom: 48px;
  transition: all .15s linear;
  width: 196px;
  margin-top:100px;
}

.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.home .avatar:hover { border-width: 3px; }